@font-face {
  font-family: "Montserrat_Light";
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat_Medium";
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat_SemiBold";
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body{
    font-family: "Montserrat_Light";
    font-size: 1rem;
    color: #4a4b4c;
    background-color: #f6f6f6;
}
strong {
    font-family: "Montserrat_SemiBold";
}
a, a:active, a:hover{
  text-decoration: none;
  color: inherit;
}
.body-section{
  background: #F6F6F6;
}
#main > .wf-wrap, #bottom-bar > .wf-wrap, #footer > .wf-wrap{
  width: unset;
}
#main .wf-wrap {
    padding: 0;
}
/*header*/
.main-nav > li:not(.wpml-ls-item) > a .menu-text {
    color: #f6f6f6;
    font-family: "Montserrat_Light";
    text-transform: uppercase;
    font-weight: normal;
}
.branding a img, .branding img {
    max-width: 50%;
    height: auto;
}
.inline-header.center .main-nav{
  justify-content: flex-end;
  margin: auto 0;
}
.top-header .outside-item-custom-margin.main-nav > li:last-child > a {
    margin-right:unset;
}
.main-nav > li > a{
  padding: 4px;
  margin:10px;
}
ul#primary-menu li.black-menu a .menu-text{
  color: #4a4b4c;
}
li:not(.dt-mega-menu) .sub-nav {
    width: max-content;
    min-width: 200px;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .masthead:not(.side-header):not(.side-header-menu-icon) .header-bar{
    max-width: 960px;
  }
  .branding{
    width: 200px;
  }
  .branding a img, .branding img {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px){
  .masthead:not(.side-header):not(.side-header-menu-icon) .header-bar{
    max-width: 1140px;
  }
  .branding a img, .branding img {
    max-width: 70%;
  }
  .branding{
    width: 300px;
  }
}
@media screen and (min-width: 1500px){
  .masthead:not(.side-header):not(.side-header-menu-icon) .header-bar{
    max-width: 1400px;
  }
  .container{
    max-width: 1400px;
  }
}
@media screen and (min-width: 1000px){
  .mobile-header-bar{
    max-width: 980px !important;
  }
}
.branding > a > img.mobile-logo,.mobile-branding > a > img:nth-child(1){
  display: none !important;
}
@media screen and (min-width: 1051px){
  .masthead.inline-header.center.small-mobile-menu-icon.dt-parent-menu-clickable.show-mobile-logo{
      position: absolute;
      width: 100%;
      background-color: transparent;
  }

}
@media screen and (max-width: 1070px){
    .show-mobile-logo .branding img.mobile-logo, .show-mobile-logo.show-device-logo .branding img.mobile-logo, .show-device-logo .branding img, .show-mobile-logo .mobile-branding img.mobile-logo, .show-mobile-logo.show-device-logo .mobile-branding img.mobile-logo, .show-device-logo .mobile-branding img, .transparent .mobile-branding img.mobile-desktop-logo {
        display: inline-block;
        max-width: 45%;
        height: auto;
    }
}
.menu-item a:hover span.menu-text, .current_page_item.act span.menu-text{
  border-bottom: solid #F6F6F6 2px;
}
.menu-item.black-menu a:hover span.menu-text, .black-menu.current_page_item.act span.menu-text{
  border-bottom: solid #4a4b4c 2px;
  color: #4a4b4c;
}
.mobile-branding > a{
	 text-align: center;
}
.dt-close-mobile-menu-icon span {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 10px;
    margin: 0;
}
.mobile-main-nav>li:before{
  border-top: unset;
}
.dt-close-mobile-menu-icon span{
  border-radius: 50%;
}
.accent-gradient .dt-close-mobile-menu-icon span{
  background: #f6f6f6;
}
.dt-close-mobile-menu-icon span:after, .dt-close-mobile-menu-icon span:before{
  top: 47%;
  left: 62%;
  width: 15px;
  height: 3px;
  background-color: #000;
}
.mobile-main-nav li > a .menu-text{
  font-family: "Montserrat_Light";
  color: #f6f6f6;
  font-size: 1.3rem;
}
.dt-mobile-menu-icon .lines, .dt-mobile-menu-icon .lines:before, .dt-mobile-menu-icon .lines:after{
  background-color: #f6f6f6;
}
.admin-bar .dt-mobile-header{
  padding-top: 7rem;
}
.dt-mobile-header{
  padding-top: 7rem;
}
/*mobile header*/
.dt-mobile-header .next-level-button:before{
  color: #F6F6F6;
  font-size: 1rem;
}
.mobile-main-nav li > a{
  color: #F6F6F6;
  font-family: "Montserrat_Light";
  font-size: 1.5rem;
  font-weight: normal;
}
.mobile-main-nav li.act > a .menu-text, .mobile-main-nav li.act > a .subtitle-text, .dt-mobile-header .mobile-main-nav .sub-nav > li.act > a .subtitle-text, .dt-mobile-header .mobile-main-nav .sub-nav > li.act > a .menu-text,.mobile-main-nav li:not(.act) > a:hover .subtitle-text, .mobile-main-nav li:not(.act) > a:hover .menu-text, .dt-mobile-header .mobile-main-nav .sub-nav > li:not(.act) > a:hover .menu-text{
  color: #F6F6F6;
  background: unset;
  background-clip: unset;
  -webkit-background-clip: unset;
  border-bottom: #F6F6F6 2px solid;
}
.dt-mobile-header .mobile-main-nav li .sub-nav > li > a .menu-text{
  font-family: "Montserrat_Light";
  color: #F6F6F6;
  font-size: 1rem;
}
@media screen and (min-width: 540px) and (max-width: 778px){
  .masthead .mobile-header-bar{
    min-height: 80px;
  }
}
/*end mobile header*/
/*end header*/
/*footer*/
.footer-section{
  background-color: #0B1338;
  display: flex;
  height: 500px;
}
.footer-inner-section{
  margin: auto;
  color: #F6F6F6;
  font-size: 1rem;
  font-family: "Montserrat_Light";
}
.footer-inner-section .footer_links .row{
  min-width: 275px;
}
.footer-inner-section .footer_logo{
  margin: auto 0;
  padding-right: 20px;
}
.footer-inner-section .footer_logo img:nth-child(1){
  padding-bottom: 30px;
}
.footer-inner-section .bold{
  font-family: "Montserrat_SemiBold";
}
.footer-inner-section .footer_links{
  border-left: #F6F6F6 2px solid;
  border-right: #F6F6F6 2px solid;
  padding-right: 0;
  padding-left: 0;
}
.footer-inner-section .footer_links ul.collape-footer-menu.active a{
  display: block;
  font-family: "Montserrat_SemiBold";
}
.footer-inner-section .footer_links .finesse-title,
.footer-inner-section .footer_links .about-us-title,
.footer-inner-section .footer_links .buy-online-title{
  cursor: pointer;
  margin-bottom: 20px;
}
.footer-inner-section .footer_links .active.finesse-title:after,
.footer-inner-section .footer_links .active.about-us-title:after,
.footer-inner-section .footer_links .active.buy-online-title:after {
  content: "\25b2";
}
.footer-inner-section .footer_links .active.finesse-title,
.footer-inner-section .footer_links .active.about-us-title,
.footer-inner-section .footer_links .active.buy-online-title{
  margin-bottom: 5px;
}
.footer-inner-section .footer_links .finesse-title:after,
.footer-inner-section .footer_links .about-us-title:after,
.footer-inner-section .footer_links .buy-online-title:after {
    content: "\25bc";
    padding-left: 10px;
}
.footer-inner-section .footer_links ul.collape-footer-menu a {
  font-size: 0.85rem;
  padding-left: 0px;
  margin: 0;
  display: none
}
.footer-inner-section .footer_links ul.collape-footer-menu a:hover {
  border-bottom: #F6F6F6 solid 1px;
}
.footer-inner-section .footer_links a{
  color: #F6F6F6;
  display: block;
  margin-bottom: 20px;
  width: fit-content;
}
.top-header .sub-nav.hover-style-bg li:not(.dt-mega-parent).act > a, .top-header .sub-nav.gradient-hover.hover-style-bg li:not(.dt-mega-parent).act > a{
  background: unset;
  background-color: unset;
}
.masthead:not(.sub-downwards) .main-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link):not(.wpml-ls-item):hover > a{
  background: unset;
  background-color: rgba(190,192,201,0.2);
}
.main-nav .sub-nav > li.act:not(.dt-mega-parent):not(.wpml-ls-item) > a .menu-text, .main-nav .sub-nav > li.act:not(.dt-mega-parent):not(.wpml-ls-item) > a .menu-text, .masthead:not(.sub-downwards) .main-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link):not(.wpml-ls-item):hover > a .menu-text{
  color: #4a4b4c;
  background: unset;
  border-bottom: #4a4b4c solid 1px;
}
.footer-inner-section .footer_links a:hover{
  border-bottom: #F6F6F6 solid 2px;
}
.footer-inner-section .footer_details{
  padding-left: 20px;
}
.footer-inner-section .footer_details span img{
  width: 45px;
}
.footer-inner-section .footer_details span img:hover {
    transform: scale(1.1);
}
.footer-inner-section .footer_details :nth-child(6){
  margin-right: 8px;
}
.footer-inner-section .footer_details :nth-child(7){
  margin-left: 8px;
}
.footer-inner-section .footer_details a{
  color: #1ebbf0;
}
.footer-inner-section .footer_details a.email_link:hover{
  border-bottom: #1ebbf0 1px solid;
}
@media screen and (min-width: 992px){
  .footer-inner-section{
    padding: 0;
  }
}
@media screen and (max-width: 993px){
  .mobile-logo img{
    max-width: 50%;
  }
  .footer-inner-section .footer_details{
    text-align: center;
    padding-left: 15px;
  }
  .footer-inner-section .footer_details :nth-child(6){
    margin-right: 20px;
  }
  .footer-inner-section .footer_details :nth-child(7){
    margin-left: 20px;
  }
  .footer_copyright {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .footer-section{
    height: 550px;
  }
  .footer-inner-section .bold{
    font-family: "Montserrat_Light"; }
}
/*end footer*/
/*home*/
/*title-section*/
.wrap_header_title {
    position: relative;
    width: 100%;
    height: 100vh;
}
.title-section {
    background: url('/wp-content/uploads/2019/05/background-desk.png') no-repeat;
    background-position: bottom center; 
    background-size: cover;  
    height: 150vh;
}
.title-section p{
    color: #f6f6f6;
    font-size: 1.5rem;
    font-family: "Montserrat_Light";
    padding: 15px;
}
.scrolldown-section{
  position: absolute;
  height: 70px;
  left: 0;
  bottom: 5vh;
  overflow: hidden;
  text-align: center;
}
.title-inner-section{ 
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  top: 30vh;
}
@media screen and (max-width: 992px){
  .wrap_header_title {
    height: 90vh;
  }
  .title-section {
    background: url('/wp-content/uploads/2019/05/bg.png') no-repeat;
    background-position: center center; 
    background-size: cover;
    height: 110vh;  
  }
  .scrolldown-section{
    bottom: 15vh;
  }
  .title-inner-section{
    top: 25vh;
  }
}
@media screen and (orientation:landscape) and (max-width: 992px){ 
  .wrap_header_title {
    height: 800px;
  }
  .title-section {
    background: url('/wp-content/uploads/2019/05/background-desk.png') no-repeat;
    background-position: bottom center; 
    background-size: cover;
    height: 800px;  
  }
  .scrolldown-section{
    top: 70%;
  }
}
@media screen and (max-width: 540px){
  .title-inner-section img{
    width: 80%;
  }
  .title-section p{
    font-size: 1.1rem;
  }
}
.straight_line {
    border-right: 1.5px solid #F6F6F6;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    animation: MoveUpDown 2s linear infinite;
}
@keyframes MoveUpDown {
  100%{ top: 100px;}
  75% { top: 60px;}
  50% { top: 20px;}
  25% { top: -20px;}
  0% { top: -60px;}
}
.scrolldown{
  color:#F6F6F6;
  font-family: "Montserrat_Medium";
  font-size: 1.2rem;
  padding-left: 150px;
  animation: MoveDown 2.8s linear infinite;
}
@media screen and (max-width: 540px){
  .scrolldown{ font-size: 1rem; }
}
@keyframes MoveDown {
  100%, 0%{ padding-top: 0px;}
  50% { padding-top: 20px;}
}
@media screen and (max-width: 540px){
  .scrolldown{
    font-size: 0.8rem;
    padding-left: 100px;
    font-size: 1rem;
  }
  .straight_line{
    height: 50px;
    border-right: 1px solid #F6F6F6;
  }
}
/*end title-section*/
/*subtitle*/
.subtitle-section .subtitle-inner-section{
  position: relative;
  padding-top: 75px;
  padding-bottom: 25px;
}
@media screen and (max-width: 540px){
  .subtitle-section .subtitle-inner-section{
    padding-top: 50px;
  }
}
.subtitle-inner-section h1{
  font-family: "Montserrat_Medium";
  letter-spacing: 10px;
  font-size: 3rem;
  margin: 0;
  color: #4a4b4c;
}
.subtitle-inner-section p{
  font-family: "Montserrat_Light";
  margin-top: -5px;
  color: #4a4b4c;
  padding: 0;
  margin: 0;
  font-size: 1rem;}
.subtitle-liner{
  color: #4a4b4c;
  margin: auto 0;
  margin-top: 0;
  width: 70px;
  text-align: right;
  border-bottom: 2px #4a4b4c solid;}
@media screen and (max-width: 540px){
  .subtitle-section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .subtitle-inner-section h1{ 
    letter-spacing: 6px;
    font-size: 1.8rem; }
  .subtitle-liner{
    margin-top: 4px;
    font-size: 0.6rem;
    line-height: 12px;}
}
/*end subtitle*/
/*series_carousel*/
.carousel-indicators{
  bottom: 2px;
  margin-bottom: 0;
}
.carousel-indicators > li {
  border-radius: 50%;
  background-color: #BEC0C9;
  height: 8px;
  width: 8px;
}
.carousel-indicators .active{
  background-color: #4a4b4c;
}
#series_carousel .carousel_details{
  margin: auto 0;
  margin-bottom: 0; 
}
#series_carousel .series_description, #series_mobile_carousel .series_description{
  font-family: "Montserrat_Light";
  font-size: 1.2rem;
  color: #4a4b4c;
  line-height: normal;
  margin:0;
  padding: 15px 0;
}
#series_mobile_carousel .series_description{
  padding: 5px 0;
}
.learn_more_button{
  font-family: "Montserrat_Medium";
  font-size: 1.2rem;
  color: #01164c;
}
.learn_more_button i.fa-arrow-right{
  padding-left: 10px;
  color: #01164c;
}
span.sprite{
  content: "";
  border-bottom: 2px solid #4a4b4c;
  border-left: 2px solid #4a4b4c;
  width: 20px;
  height: 20px;
  display: block;
  transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
}
.owl-nav button:focus{
  outline: unset;
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background: unset;
  color: unset;
}
.owl-prev{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: rotateZ(53deg);
  transform: rotateZ(53deg);
  -moz-transform: rotate(53deg);
  -ms-transform: rotate(53deg);
  -o-transform: rotate(53deg);
}
.owl-next{
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotateZ(-127deg);
  transform: rotateZ(-127deg);
  -moz-transform: rotate(-127deg);
  -ms-transform: rotate(-127deg);
  -o-transform: rotate(-127deg);
}
.owl-carousel .owl-item .series_logo_img img{
  width: 60%;
}
@media screen and (min-width: 1051px){
  .carousel-inner {
    overflow: unset;
  }
}
@media screen and (max-width: 768px){
  .series-section, .carousel-inner, .carousel-item{
    padding: 0;
  }
  .carousel-item{
    position: relative;
  }
  .carousel-inner{
    max-width: 800px;
    height: 600px;
  }
  .carousel_details{
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
  }
  .carousel_inner_details {
    max-width: 500px;
    margin: 0 auto;
  }
  #series_mobile_carousel .series_logo_img img{
    max-width: 50%;
  }
  .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 0;
  }
  :not(.bullets-etefu).owl-carousel .owl-dots .owl-dot span{
    position: unset;
    top:unset;
    left: unset;
    width: 7px;
    height: 7px;
    margin: 0 5px;
  }
  #series_mobile_carousel.owl-carousel .owl-dots{
    position: absolute;
    bottom: 1%;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 540px){
  #series_mobile_carousel .carousel_img{
    width: 100%;
  }
  .carousel_inner_details {
    max-width: 300px;
  }
  #series_mobile_carousel.owl-carousel .owl-dots{
    bottom: 0;
  }
  .series_logo_img img{
    max-width: 70%;
  }
  #series_carousel .series_description, #series_mobile_carousel .series_description{
    font-size: 1rem;
  }
}
/*end series_carousel*/
/*finesse*/
.finesse-section .biorytmic-inner-section{
  padding-bottom: 25px;
}
.finesse_title{
  font-size: 2.5rem;
  line-height: normal;
  letter-spacing: 10px;
  font-family: "Montserrat_Medium";
  text-transform: uppercase;
}
.finesse_description{
  font-family: "Montserrat_Light";
  font-size: 1.2rem;
  color: #4a4b4c;
  line-height: normal;
  margin: 0;
  padding: 15px 0;
}
.finesse-details {
    margin-bottom: 30px;
}
.limit-width{
  max-width: 300px;
  margin: auto;
  margin-right: 0;
}
.finesse-text-section .learn_more_button{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border:none;
  background: transparent;
}
.finesse-left-section, .finesse-right-section{
  max-height: 465px;
  overflow: hidden;
}
.finesse-right-section .row{
  height: 100%;
}
.finesse-video{
  margin-top: auto;
}
.finesse-video .embed-responsive{
  max-height: 250px;
}
@media screen and (min-width: 1200px){
  .finesse-left-section, .finesse-right-section{
    max-height: 800px;
    overflow: hidden;
  }
  .finesse-video .embed-responsive{
    max-height: 350px;
  }
}
.biorhythm-bottom-section .modal-header{
  position: relative;
  height: 50px;
}
.biorhythm-bottom-section .modal-header .close{
  position: absolute;
  right: 15px;
}
.advantages_section{
  width: fit-content;
  margin: auto;
}
.biorhythm-bottom-section .modal-body ul {
    list-style-type: disc;
    text-align: left;
    margin-left: 20px;
    font-family: "Montserrat_Light";
    color: #4a4b4c;
    font-size: 1.1rem;
}
.biorhythm-test-section img {
  margin: auto;
}
.biorhythm-test-section .bold{
  color: #51AD32;
  font-family: "Montserrat_Medium";
  width: auto;
}
.biorhythm-test-section h3{
  color: #007BC3 !important;
}
.biorhythm-test-section p {
  font-size: 1.1rem !important;
  width: auto !important;
}
@media screen and (max-width: 768px){
  .finesse_description{
    width: 300px;
  }
}
@media screen and (max-width: 540px){
  .biorhythm-bottom-section .modal-body ul,
  .biorhythm-test-section p{
    font-size: 1rem !important;
  }
  .finesse_title{
    font-size: 1.5rem;
    letter-spacing: 5px;
  }
  .finesse_description{
    font-size: 1rem;
  }
  .learn_more_button{
    font-size: 1rem;
  }
}
@media screen and (max-width: 330px){
  .finesse-text-section .learn_more_button{
    font-size: 0.9rem;
  }
}
/*end finesse*/
/*mission*/
.mission-section{
  background: url('/wp-content/uploads/2019/03/Galaxy-Background.jpg') no-repeat center;
  background-size: cover;
  max-height: 900px;
  min-height: 600px;
  display: flex;
  overflow: hidden !important;
  position: relative;
}
.custom_quote{
  top: 2em;
  left: 0
}
.mission-section .mission-inner-section{
  margin: auto;
}
.mission-inner-section h4.mission_details{
  margin-bottom: 25px;
}
.mission-inner-section h4.mission_details, .aboutus-mission-inner-section h4.mission_details{
  color: #BEC0C9;
  font-family: "Montserrat_Medium";
  line-height: 60px;
  font-size: 2.5rem;
}
.mission-inner-section div.read_more_button, .aboutus-mission-inner-section div.read_more_button{
  color: #F6F6F6;
  font-family: "Montserrat_SemiBold";
  font-size: 1.2rem;
}
.fa-quote-left, .fa-quote-right{
  color:#f6f6f6;
  font-size: 1rem;
}
@media screen and (max-width: 540px){
  .mission-section .mission-inner-section{ 
    padding: 2rem 15px;
  }
  .mission-inner-section h4.mission_details, .aboutus-mission-inner-section h4.mission_details{
    font-size: 1.5rem;
    line-height: 40px;
  }
  .mission-inner-section div.read_more_button, .aboutus-mission-inner-section div.read_more_button{
    font-size: 1rem;
  }
}
.jqueryFireFly {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
}
/*end mission*/
/*end home*/
/*about us*/
.aboutus-mission-session{
  position: relative;
  overflow: hidden;
}
.pad-bot-15{
  padding-bottom: 15px;
}
.pad-bot-25{
  padding-bottom: 25px;
}
.pad-bot-75{
  padding-bottom: 75px;
}
.about_bg_img{
  background: url('/wp-content/uploads/2019/03/Galaxy-Background.jpg') repeat-y center;
  background-size: 100%;
}
@media screen and (max-width: 800px){
  .about_bg_img{
    background: url('/wp-content/uploads/2019/03/Galaxy.jpg') repeat-y center;
    background-size: 100%;
  }
}
.about-us-bot-inner-section p, .about-us-bot-inner-section li{
  font-family: "Montserrat_Light";
  font-size: 1rem;
  text-align: left;
  color:#4a4b4c;
  margin: 0;
}
.about-us-bot-inner-section ul{
  list-style: disc;
  margin-left: 20px;
}
.about-us-bot-inner-section h3, .about-us-bot-inner-section h1{
  color: #4a4b4c;
  font-family: "Montserrat_Medium";
  font-weight: normal;
}
.about-us-bot-inner-section h1{
  letter-spacing: 0.5rem;
  font-size: 3rem;
}
.about-us-bot-inner-section h3{
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}
.aboutus-details-inner-section p{
    color: #BEC0C9;
    font-family: "Montserrat_Light";
    font-size: 1rem;
    margin: 0;
}
.about-us-bot-inner-section .manufacturer-section p,
.about-us-bot-inner-section .producer-section p{
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 992px ){
  .about-us-bot-section{
    padding: 75px 0;
  }
  .about-us-bot-inner-section{
    text-align: left !important;
  }
  .about-us-bot-inner-section .col-lg-5 img{
   margin-right: 10px !important;
  }
  .about_bg_img{
    padding-bottom: 50px !important;
  }
  .aboutus-mission-session {
    padding: unset;
    padding-bottom: 30px;
  }
  .aboutus-mission-session  .aboutus-mission-inner-section{
    max-width: unset;
    margin: auto;
    width: 100%;
  }
  .aboutus-details-session{
    padding: 0;
    display: flex;
  }
  .aboutus-details-inner-section{
    width: 50%;
    float:left;
    padding-right: 5px;
    margin:auto;
  }
  .aboutus-details-mobile-img-section{
    width: 50%;
    float:right;
    padding-left: 5px;
    margin:auto;
  }
  .aboutus-details-mobile-img-section img:nth-child(2){
    padding-top: 50px
  }
}
@media screen and (min-width: 1051px){
  .about_bg_img, .product-body-section{
    padding-top: 150px !important;
    padding-bottom: 50px !important;
  }
}
@media screen and (max-width: 992px ) and (min-width: 769px){
  .aboutus-mission-session{
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 769px){
   .aboutus-mission-inner-section h4.mission_details{
    font-size: 2rem;
  }
  .aboutus-details-inner-section p, .about-us-bot-inner-section p, .about-us-bot-inner-section li{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px){
  .about-us-bot-inner-section h1{
    font-size: 1.8rem;
  }
  .about-us-bot-inner-section h3{
    font-size: 1.3rem;
  }
  .about-us-bot-inner-section p, .about-us-bot-inner-section li{
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px){
  .img-pad{
    padding-bottom: 25px;
  }
  .pad-bot-75{
    padding-bottom: 50px;
  }
  .aboutus-details-session {
    padding-bottom: 50px;
  }
  .about-us-bot-section{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/*end about us*/
/*warranty*/
.warranty-inner-section{
    width: calc(100%/1.1);
    margin: 100px auto 75px;
}
.warranty-inner-section p {
    margin-bottom: 25px;
}
.warranty-title-section{
   padding-top: 50px;
}
.warranty-title-section h2{
  font-size: 1.8rem;
  font-family: "Montserrat_Medium";
  color: #1ebbf0;
  margin-bottom: 15px;
}
.warranty-inner-section h1 {
  font-size: 1.8rem;
  color: #4a4b4c;
  font-family: "Montserrat_Medium";
  font-weight: normal; 
  padding: 50px 0 25px;
  margin-bottom: 0; 
}
.warranty-inner-section p {
  font-size: 1rem;
  color: #4a4b4c;
  font-family: "Montserrat_Light";
  font-weight: normal;
}
.warranty-inner-section .get_warranty_button{
  font-family: "Montserrat_Medium";
  font-size: 1.2rem;
  color: #01164c;
  background: transparent;
  border:none;
}
.warranty-inner-section .get_warranty_button .fa-arrow-right{
  padding-left: 15px;
}
.form_warn{
  font-size: 1rem;
  color: #4a4b4c;
  font-family: "Montserrat_Medium";
}
span.wpcf7-form-control-wrap.upload_file {
    padding-left: 15px;
}
#page .wpcf7-validation-errors, .inline-message-style .wpcf7-validation-errors{
  color: #f00 !important;
  border: 1px #f00 solid;
  margin: 10px 0;
  padding: 5px;
  background: transparent;
}
#page .wpcf7-mail-sent-ok, .inline-message-style .wpcf7-mail-sent-ok{
  color: #1ebbf0 !important;
  border: 1px #1ebbf0 solid;
  margin: 10px 0;
  padding: 5px;
  background: transparent;
}
.wpcf7-validation-errors .wpcf7-not-valid-tip-text,
.wpcf7-mail-sent-ok .wpcf7-valid-tip-text{
    font: normal 0.9rem "Montserrat_Medium";
    width: fit-content;
}
.wpcf7-number, input[type=text], input[type=search], 
input[type=tel], input[type=url], input[type=email], 
input[type=number], input[type=date], input[type=range], 
input[type=password], select, textarea{
  margin-bottom: 0;
}
input[type="submit"]:not([name="update_cart"]):not(.woocommerce-widget-layered-nav-dropdown__submit),
.wpcf7-form input[type="submit"]{
  font-family: "Montserrat_Medium";
  background: #4a4b4c;
  color: #f6f6f6;
  font-size: 1rem;
  border: 1px solid #f6f6f6;
  padding: 0 50px;
}
#page .wpcf7-form input[type="submit"]:hover, 
#page input[type="submit"]:not([name="update_cart"]):hover,
#page .wpcf7-submit:hover{
  background: transparent;
  color: #4a4b4c;
  border: 1px solid #4a4b4c;
}
.modal-content{
  background: #f6f6f6;
  max-height: 85vh;
  overflow: scroll;
}
.modal-dialog {
  max-width: 90%;
  margin: 5rem auto;
}
.modal-body{
  padding: 1rem 3rem;
}
@media (max-width: 540px){
  .modal-body{
    padding: 1rem 2rem;
  }
}
@media (max-width: 330px){
  .modal-body{
    padding: 1rem 1rem;
  }
}
.modal-title{
  margin: auto;
  font-family: "Montserrat_Medium";
  text-transform: uppercase;
}
.modal-header .close{
  margin:-1rem -1rem -1rem 0;
}
.form-group {
  margin-bottom: 1rem;
  font-family: "Montserrat_Light";
  font-size: 1rem;
  color: #4a4b4c;
}
.form-group label{
  margin-bottom: 0;
}
@media screen and (min-width: 768px){
  .warranty-inner-section{
    width: calc(100%/1.3);
  }
}
@media screen and (min-width: 769px){
  .warranty-title-section h2{
    font-size: 2rem;
  }
  .warranty-inner-section h1 {
    font-size: 2rem;
  }
  .warranty-inner-section p {
    font-size: 1.2rem;
  }
  .warranty-inner-section .get_warranty_button{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1050px){
  .warranty-inner-section{
    margin: 0 auto 50px;
  }
  .warranty-inner-section h1 {
    padding: 75px 0 25px; 
  }
}
/*end warranty*/
/*series*/
.series-product-section {
    background-color: #f6f6f6;
}
.series-header-inner-section{
  height: 100vh;
  background:url('/wp-content/uploads/2019/03/Desktop-series-product-pic-1.jpg') no-repeat bottom;
  background-size: cover;
  position: relative;
}
.series-scrolldown{
  position: absolute;
  left: 0;
  bottom: 2%;
  overflow: hidden;
  height: 70px;
  text-align: center;
}
.series-title{
  position: absolute;
  top: 30%;
  left: 0;
}
.series-title h1{
  color: #4a4b4c;
  font-family: "Montserrat_Medium";
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 3rem;
}
.series-title p{
  color: #4a4b4c;
  font-family: "Montserrat_Light";
  font-weight: normal;
  font-size: 1.5rem;
}
.series-scrolldown .scrolldown{
  color:#4a4b4c;
  padding-left: 0
}
.series-scrolldown .straight_line{
  border-right: 1.5px solid #4a4b4c;
  left:50%;
}
.series-product-inner-section{
  width: 100%;
  margin: auto;
}
.series-product-inner-section .product-details {
  font-family: "Montserrat_Light";
  font-size: 1.2rem;
}
.series-product-inner-section .series_logo_img,
.series-product-inner-section .product-details {
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}
.series-product-inner-section .series_logo_img{
  width: 50%;
}
@media screen and (max-width: 1051px){
  .series-header-inner-section{
    height: 90vh;
  }
}
@media screen and (max-width: 767px){
  .series-product-inner-section .series_logo_img img{
    max-width: 80%;
  }
  .series-product-inner-section .series_logo_img,
  .series-product-inner-section .product-details {
    padding-bottom: 10px;
  }
  .series-scrolldown{
    bottom: 7%;
  }
  .series-scrolldown .scrolldown{
    padding-left: 100px;
  }
  .series-header-inner-section{
    background:url('/wp-content/uploads/2019/03/picture-1.png') no-repeat bottom;
    background-size: cover;
  }
  .series-product-section{
    height: 450px;
    position: relative;
  }
  .series-product-inner-section{
    position: absolute;
    left: 0;
    bottom: 5%;
    margin: unset;
  }
  #royal_blue.series-product-section{
    background: url('/wp-content/uploads/2019/03/royal-blue-mob.png') no-repeat center;
    background-size: initial;
  }
  #sporst.series-product-section{
    background: url('/wp-content/uploads/2019/03/Sporst-1.png') no-repeat center;
    background-size: initial;
  }
  #era.series-product-section{
    background: url('/wp-content/uploads/2019/05/mobile_era_series.jpg') no-repeat center;
    background-size: initial;
  }
  #legendary.series-product-section{
    background: url('/wp-content/uploads/2019/03/legendary.jpg') no-repeat center;
    background-size: initial;
  }
  #together.series-product-section{
    background: url('/wp-content/uploads/2019/03/together.jpg') no-repeat center;
    background-size: initial;
  }
}
@media screen and (max-width: 500px){
  .series-title h1{
    font-size: 2rem;
  }
  .series-title p{
    font-size: 1.3rem;
  }
  .series-product-inner-section .product-details{
    font-size: 1rem;
  }
}
/*end series*/
/*magnerest*/
#magnerest .magnerest-inner-section h1, #biorytmic .biorytmic-inner-section h1{
  font-family: "Montserrat_Medium";
  color: #4a4b4c;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 75px 0 25px;
  margin-bottom: 0;
}
.magnerest-advantages-section ul{
  list-style-type: disc;
  text-align: left;
  width: auto;
  margin-left: 20px;
  font-family: "Montserrat_Light";
  color: #4a4b4c;
  font-size: 1.2rem;
}
.magnerest-advantages-section li{
  margin-left: 20px;
}
.magnerest-advantages-section p, .magnetic-field-section p,
.biorytmic-field-section p, .biorhythm-bottom-section p{
  /*width: calc(100%/1.2);*/
  text-align: left;
  margin: 0 auto;
  font-family: "Montserrat_Light";
  color: #4a4b4c;
  font-size: 1.2rem;
}
.magnerest-advantages-section h3, .magnetic-field-section h3,
.biorytmic-field-section h3, .biorhythm-bottom-section h3,.biorhythm-test-section h3{
  /*width: calc(100%/1.2);*/
  margin: 0 auto;
  font-family: "Montserrat_Medium";
  color: #4a4b4c;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 25px;
}
.youtube-section, .youtube-mobile-section{
  margin-bottom: 75px;
}
.finesse-image-section, .finesse-text-section{
  padding-bottom: 75px;
} 
.biorhythm-bottom-section .finesse-text-section{
  padding-bottom: 25px;
}
@media screen and (min-width: 1051px){
  #magnerest .magnerest-inner-section, #biorytmic .biorytmic-inner-section {
    margin-top: 100px;
  }
  .magnetic-field-section .finesse-text-section.right-margin-0 p,
  .magnetic-field-section .finesse-text-section.right-margin-0  h3{
    margin-right: 0;
  }
  .magnetic-field-section .finesse-text-section.left-margin-0 p,
  .magnetic-field-section .finesse-text-section.left-margin-0  h3{
    margin-left: 0;
  }
}
@media screen and (max-width: 991px){
  .biorhythm-bottom-section, .magnerest-advantages-section{
    margin-bottom: 50px;
  }
  .magnerest-advantages-section .finesse-text-section0{
    padding: 0 0 25px;
  }
  .magnerest-advantages-section .finesse-image-section, .biorhythm-bottom-section .finesse-image-section {
    padding-bottom: 25px;
  }
  .magnerest-advantages-section h3, .magnetic-field-section h3, .biorytmic-field-section h3, .biorhythm-bottom-section h3{
    padding-top: 25px; 
  }
}
@media screen and (min-width: 992px){
  #biorytmic .biorytmic-inner-section p,.magnetic-field-section p{
    text-align: left;
  }
  .biorytmic-field-section .finesse-text-section{
      margin: auto;
      margin-bottom: 0;
  } 
  .biorhythm-bottom-section .finesse-text-section.col-lg-6{
    margin: auto;
  }
}
@media screen and (max-width: 500px){
  .magnerest-advantages-section p, .magnetic-field-section p,
  .biorytmic-field-section p, .biorhythm-bottom-section p, .magnerest-advantages-section ul{
    font-size: 1rem;
  }
  .magnerest-advantages-section ul{
    margin-left: 5px;
  }
  .magnerest-advantages-section h3, .magnetic-field-section h3,
  .biorytmic-field-section h3, .biorhythm-bottom-section h3,.biorhythm-test-section h3{
    font-size: 1.3rem;
  }
  #magnerest .magnerest-inner-section h1, #biorytmic .biorytmic-inner-section h1{
    font-size: 2rem;
    padding: 50px 0 25px;   
  }
  .finesse-text-section {
    padding-bottom: 50px;
  }
  .youtube-mobile-section {
    margin-bottom: 25px;
  }
  .biorhythm-bottom-section, .magnerest-advantages-section{
    margin-bottom: 25px;
  }
}
/*end magnerest*/
/*product*/
#era .product-series-header-bg-img{
  background: url('/wp-content/uploads/2019/05/desktop_era_series.jpg') no-repeat center;
  background-size: cover;
  height: 60vh;
}
#together .product-series-header-bg-img{
  background: url('/wp-content/uploads/2019/05/desktop_explorer_Series.jpg') no-repeat center;
  background-size: cover;
  height: 60vh;
}
#legendary .product-series-header-bg-img{
  background: url('/wp-content/uploads/2019/05/LegendarySeries_Main-Image.jpg') no-repeat center;
  background-size: cover;
  height: 60vh;
}
#royal_blue .product-series-header-bg-img{
  background: url('/wp-content/uploads/2019/03/rb-bg.jpg') no-repeat center;
  background-size: cover;
  height: 60vh;
}
.product-series-details-section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.product-series-details-section .product-image{
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-series-details-section .product-series-more-details{
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-series-details-section .product-title img,
.product-series-details-section .product-series-more-details img{
  padding-bottom: 15px;
}
.product-series-details-section p, .product-series-details-section ul{
  font-family: "Montserrat_Light";
  color: #4a4b4c;
  font-size: 1.2rem;
}
.product-series-details-section ul{
  list-style-type: disc;
  width: 98%;
  margin-left: 1.4rem;
}
/*#together .product-series-more-details{
  display: flex;
}*/
.product-series-details-section ul li{
  margin-bottom: 5px;
}
.product-series-details-section h3{
  font-family: "Montserrat_Medium";
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #4a4b4c;
  font-size: 1.5rem;
}
.product-series-details-section h4{
  font-family: "Montserrat_Medium";
  color: #4a4b4c;
  font-size: 1.3rem;
}
#royal_blue li:before {
    content: "";
    border-bottom: 2px #4a4b4c solid;
    width: 5px;
    display: flex;
    position: absolute;
    top: 3.2rem;
}
#royal_blue li p{
  padding-left: 15px;
}
#royal_blue .product-series-details-section ul li{
  position: relative;
}
@media screen and (max-width: 768px){
  #together .product-series-more-details{
    display: block;
  }
  .product-series-details-section ul li{
    margin-left: 0;
  }
  .product-series-details-inner-section{
    margin: 0;
  }
  .product-series-details-section .product-series-more-details{
    text-align: center;
  }
  .product-series-details-section h3{
    font-size: 1.3rem;
  }
  .product-series-details-section h4{
    font-size: 1.2rem;
  }
  .product-series-details-section p, .product-series-details-section ul{
    font-size: 1rem;
  }
}
/*end product*/
/*our client*/
.our-client-inner-section, .our-client-mob-inner-section{
  padding-bottom: 50px;
}
.our-client-inner-section{
  width: 85%;
  margin: auto;
}
.our-client-mob-inner-section .owl-carousel {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: auto;
  padding: 0 8%;
  overflow: hidden;
  box-sizing: content-box;
}
.our-client-mob-inner-section .owl-carousel .owl-stage-outer{
  width: 95%;
  margin: 0 auto;
}
.our-client-mob-inner-section .owl-carousel .owl-item img{
  margin: auto;
  margin-left: 7px;
  display: block;
  width: 80%;
}
/*end our client*/
/*gogreen*/
.gogreen-inner-section, .reduceCO2-inner-section {
  margin-top: 100px;
}
.gogreen-inner-section .gogreen-content,
.reduceCO2-inner-section .reduceCO2-content{
  padding: 75px 0;
}
.gogreen-inner-section .gogreen-content h2,
.reduceCO2-inner-section .reduceCO2-content h2{
  font-family: "Montserrat_Medium";
  font-size: 2rem;
  margin: 0;
}
.gogreen-inner-section .gogreen-content h3,
.reduceCO2-inner-section .reduceCO2-content h3{
  font-family: "Montserrat_Medium";
  font-size: 1.5rem;
  margin: 0;
}
.gogreen-inner-section .gogreen-content div span,
.reduceCO2-inner-section .reduceCO2-content span{
  margin: auto 0;
}
.gogreen-inner-section .gogreen-content p,
.gogreen-inner-section .gogreen-content span,
.reduceCO2-inner-section .reduceCO2-content p,
.reduceCO2-inner-section .reduceCO2-content span{
  font-family: "Montserrat_Light";
  font-size: 1.2rem;
  margin: 0;
}
@media (max-width: 1050px){
  .gogreen-inner-section, .reduceCO2-inner-section {
      margin-top: 0;
  }
  .gogreen-inner-section .gogreen-content,
  .reduceCO2-inner-section .reduceCO2-content{
    padding: 50px 0;
  }
}
@media (max-width: 540px){
  .gogreen-inner-section, .reduceCO2-inner-section {
    padding: 0 15px;
  }
  .gogreen-inner-section .gogreen-content h2,
  .reduceCO2-inner-section .reduceCO2-content h2{
    font-size: 1.8rem;
  }
  .gogreen-inner-section .gogreen-content h3,
  .reduceCO2-inner-section .reduceCO2-content h3{
    font-size: 1.3rem;
  }
  .gogreen-inner-section .gogreen-content p,
  .gogreen-inner-section .gogreen-content span,
  .reduceCO2-inner-section .reduceCO2-content p,
  .reduceCO2-inner-section .reduceCO2-content span{
    font-size: 1rem;
  }
}
/*end gogreen*/
/*reduceco2*/
.reduceCO2-inner-section .reduceCO2-content span h5{
  font-family: "Montserrat_Medium";
  font-size: 1.2rem;
}
@media (max-width: 540px){
  .reduceCO2-inner-section .reduceCO2-content span h5{
    font-size: 1rem;
  }
}
/*end reduceco2*/
/*contact us page*/
.contact-inner-section{
    margin: 100px auto 75px;
    font-family: "Montserrat_Light";
}
.contact-inner-section .vc_row{
  padding: 25px 0;
}
.contact-inner-section strong,
.contact-inner-section h1{
  font-family: "Montserrat_Medium";
  font-weight: normal;
  margin-bottom: 0;
}
.contact-inner-section .wpb_content_element{
  margin-bottom: 0;
}
.contact-inner-section .form-group{
  font-family: "Montserrat_Light";
}
.contact-inner-section .wpb_wrapper p{
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 1.2rem;
}
.contact-inner-section .form-group label{
  font-size: 1.2rem;
  line-height: 2;
}
input[type="text"], input[type="search"], input[type="tel"], input[type="url"], 
input[type="email"], input[type="number"], input[type="date"], input[type="range"], 
input[type="password"], select, textarea, .wpcf7-number{
    color: #4a4b4c;
    border-width: 1px;
    border-color: #4a4b4c;
    background-color: transparent;
    border-radius: 5px;
}
@media screen and (max-width: 1050px){
  .contact-inner-section{
    margin: 0 auto 50px;
  }
}
@media screen and (max-width: 991px){
  form{
    margin: auto;
  }
  .contact-inner-section #contact_form .vc_column_container{
    width: 100%;
  }
  .contact-inner-section #contact_form .vc_col-sm-4{
    text-align: center;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px){
  .contact-inner-section .wpb_wrapper p,.contact-inner-section .form-group label{
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px){
  .contact-inner-section #contact_form{
    display: flex;
  }
  .contact-inner-section #contact_form .vc_col-sm-4{
    width: fit-content;
    margin-left: auto;
  }
}
/*end contact us page*/
/*cooler page*/
.cooler-inner-section{
  margin: 100px auto 75px;
  width: 100%;
}
.cooler-logo-section h1{
  font-family: "Montserrat_Medium";
  color: #4a4b4c;
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 75px;
  margin-bottom: 0;
}
.cooler-inner-section p{
  font-family: "Montserrat_Light";
  margin: 25px 0;
  font-size: 1.2rem;
}
.cooler-inner-section .benefits_cooler p{
  margin: 15px 0;
}
.cooler-inner-section h3{
  font-family: "Montserrat_Medium";
  margin: 25px 0;
  font-size: 1.8rem;
}
.cooler-content-section{
  padding-left: 0;
}
.cooler-video-section{
  padding: 75px 0 0;
}
.cooler-img-section{ margin: 25px 0; }
@media screen and (max-width: 1050px){
  .cooler-inner-section{
    margin: 0 auto 50px;
    text-align: center;
  }
}
@media screen and (max-width: 991px){
  .cooler-content-section{
    padding:0;
  }
}
@media screen and (max-width: 540px){
  .cooler-logo-section h1{
    font-size: 2rem;
    padding-top: 50px;
  }
  .cooler-inner-section p{
    font-size: 1rem;
  }
  .cooler-inner-section h3{
    font-size: 1.5rem;
  }
  .cooler-video-section{
    padding: 50px 0 0;
  }
}
/*end cooler page*/
.modal-header .close{
  padding: 0.4rem;
}
label.required:after {
    content: ' *';
    font-weight: bolder;
}
@media screen and (min-width: 992px){
  .biorytmic-inner-section .container,.magnerest-inner-section .container, .cooler-section{
    padding: 0;
  }
}
.producer-detail-section{
  width: 100%;
}
/*article*/
.article-section .article-feature-image{
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.article-section .article-content h1{
  color: #4a4b4c;
  font-size: 3rem;
  font-family: "Montserrat_SemiBold";
  margin-bottom: 0;
}
.article-content{
  padding:75px 0;
}
.dt-fancy-title{
  font-family: "Montserrat_Medium";
}
.articles-homepage-section{
  padding: 0 0 50px;
}
.articles-homepage-section .learn_more_button,
.articles-homepage-section .learn_more_button i.fa-arrow-right{
 color: #4a4b4c;
}
.articles_title{
  font-size: 1.2rem;
  font-family: "Montserrat_Medium";
}
@media screen and (max-width: 992px){
  .article-section .article-content h1{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 540px){
  .articles_title{
    font-size: 1rem;
  }
  .articles-homepage-section{
    padding: 0 15px 30px;
  }
  .article-section .article-content h1{
    font-size: 2rem;
  }
  .article-content{
    padding:50px 15px;
  }
}
/*end article*/