/*story page*/
.story-inner-section{
  margin: 100px auto 75px;
  font-family: "Montserrat_Medium";
}
.story-inner-section h1{
  letter-spacing: 0.5rem;
  padding: 50px 0 25px;
  margin-bottom: 0;
}
.storyline-section{
  position: relative;
  height: 500px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.wrap-all-story{
  position: relative;
  padding: 0 20px;
}
#stories .owl-prev{
  left: -50px;
}
#stories .owl-next{
  right: -50px;
}
#stories .owl-dots{
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
}
#stories .owl-item{
  min-height: 330px;
}
/*.story-detail{
  position: relative;
  width: 400px;
  float: left;
}*/
.story-line{
  border-bottom: 3px #4a4b4c solid;
  margin: 15px 0;
}
.story-dot{
  width: 15px;
  height: 15px;
  background: #4a4b4c;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  top: 3rem;
}
#story-left, #story-right{
  font-size: 1.5rem;
}
#story-left i, #story-right i{
  font-size: 1.2rem;
}
#stories .owl-nav .disabled {
    opacity: 0;
    display: none;
}
.story-description {
  padding: 0 25px;
  line-height: 1.5;
}
..story-description img{
  margin: 0 auto;
}
.storyline-section::-webkit-scrollbar { width: 0 !important }
.storyline-section{
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none;
}
@media screen and (max-width: 1050px){
  #stories .owl-prev{
    left: -40px;
  }
  #stories .owl-next{
    right: -40px;
  }
  .story-inner-section{
    margin: 0 auto 25px;
  }
  .story-inner-section h1{ padding: 25px 0; }
}
@media screen and (max-width: 767px){
  /*.story-detail{
    width: 300px;
  }*/
  .storyline-section{
    height: 400px;
  }
}
@media screen and (max-width: 500px){
  .wrap-all-story{
    padding: 0;
  }
  .story-description{
    font-size: 0.8rem;
  }
}
/*end story page